<table *ngIf="dataLoaded==true" class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Brand Name</th>
        <th scope="col">First Name Last Name</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td>{{rental.carId}}</td>
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
    </tbody>
</table>

